.s-page {
  position: relative;
  h1 {
    color: #36a9d8;
    font-weight: 900;
    text-align: center;
    margin: 30px 0;
  }
  .card-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    .card.mb-3 {
      text-align: center;
      margin-top: 1%;
      width: 275px;
      height: 250px;
      img.card-img-top {
        width: 100px;
        height: 120px;
        margin: 30px 80px;
      }
    }
    .card-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(37, 118, 223, 0.959);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
      .text-tab {
        color: white;
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h6 {
          color: greenyellow;
        }
      }
    }
  }
}
.card:hover .card-overlay {
  height: 100%;
  cursor: pointer;
}
