.nav-bar {
  background-color: #36a9d8;
  position: relative;
  nav.navbar {
    background-color: rgba(41, 60, 122, 0.349);
    a.navbar-brand {
      color: greenyellow;
      font-size: 35px;
      font-weight: bold;
    }
    .collapse.navbar-collapse {
      a.nav-link {
        font-size: 20px;
        font-weight: 450;
        a.link-page {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.header-page {
  position: relative;
  @media only screen and (max-width: 600px) {
    height: 350px;
  }
  img.h-pic {
    max-width: 100%;
  }
  .overlay-h {
    position: absolute;
    top: 140px;
    left: 20px;
    @media only screen and (max-width: 600px) {
      top: 160px;
      left: 0;
    }
    h1 {
      color: white;
      text-align: center;
      font-weight: 900;
      width: 50%;
      @media only screen and (max-width: 600px) {
        width: 96%;
        font-size: 25px;
        margin: auto;
      }
    }
    .btn-flex {
      display: flex;
      /* justify-content: start; */
      margin-left: 10%;
      margin-top: 2%;
      @media only screen and (max-width: 600px) {
        margin-left: 5%;
      }
      .btn {
        margin-right: 1%;
        text-align: center;
        border-radius: 25px;
        width: 15%;
        color: #36a9d8;
        background-color: white;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
        .link-page {
          text-decoration: none;
          color: #36a9d8;
        }
      }
    }
  }
}
// #navbar {
//   position: fixed;
//   // background-color: black;
//   width: 100%;
//   top: 0;
//   transition: top 0.3s;
//   z-index: 2000;
// }
