.ppc-page {
  h1 {
    color: greenyellow;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .first {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    .box {
      width: 24%;
      text-align: center;
      color: greenyellow;
      background-color: #36a9d8;
      margin-left: 11px;
      padding: 15px;
      border: 1px solid greenyellow;
      border-radius: 25px;
      i.fa {
        font-size: 50px;
        color: greenyellow;
        margin-bottom: 5%;
      }
    }
  }
  .second {
    display: flex;
    width: 90%;
    margin: auto;
    .left {
    }
    .right {
      margin-top: 5%;
    }
  }
  .ppcTypes {
    .card-view {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 80%;
      margin: auto;
      .card {
        &:hover {
          .card-overlay {
            height: 100%;
            cursor: pointer;
          }
        }
      }
      .card.mb-3 {
        text-align: center;
        margin-top: 1%;
        width: 275px;
        height: 250px;
        img.card-img-top {
          width: 160px;
          height: 150px;
          margin: 30px 60px;
        }
      }
      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(37, 118, 223, 0.959);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text-tab {
          color: white;
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h6 {
            color: greenyellow;
          }
        }
      }
    }
  }
  form {
    width: 75%;
    margin: auto;
    .form-row {
      input#inputEmail4 {
        border-radius: 25px;
        // background: transparent !important;
      }
      input#inputPassword4 {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    .form-group {
      max-width: 100%;
      textarea#comment {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    button.btn.btn-light {
      color: white;
      background-color: #36a9d8;
      margin-left: 44%;
      width: 12%;
      font-weight: bold;
      margin-bottom: 5%;
      border-radius: 25px;
      @media only screen and (max-width: 600px) {
        width: 35%;
        margin-left: 32%;
      }
    }
  }
}
