.contact-page {
  background-color: #e8f0f5;
  h1 {
    text-align: center;
    color: #36a9d8;
    font-size: 50px;
    margin: 30px 0;
  }
  .c-middle {
    display: flex;
    width: 75%;
    margin: auto;
    .cm-left {
      flex-basis: 50%;
      p {
        font-size: 20px;
        font-weight: 300;
      }
      .line {
        display: flex;
        .fa {
          color: #36a9d8;
          font-size: 25px;
          padding-right: 10px;
        }
        h6 {
          font-size: 20px;
          padding-right: 10px;
        }
        p {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    .cm-right {
      flex-basis: 50%;
      margin: 45px 0px;
      padding-left: 75px;
      img.point {
        max-width: 100%;
      }
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  .c-footer {
    position: relative;
    margin: 5% 0;
    img.back-pic {
      width: 100%;
    }
    form {
      width: 75%;
      margin: auto;
      .form-row {
        input#inputEmail4 {
          border-radius: 25px;
          // background: transparent !important;
        }
        input#inputPassword4 {
          border-radius: 25px;
          // background: transparent !important;
        }
      }
      .form-group {
        max-width: 100%;
        textarea#comment {
          border-radius: 25px;
          // background: transparent !important;
        }
      }
      button.btn.btn-light {
        color: #36a9d8;
        margin-left: 44%;
        width: 12%;
        font-weight: bold;
        margin-bottom: 5%;
        border-radius: 25px;
        @media only screen and (max-width: 600px) {
          width: 35%;
          margin-left: 32%;
        }
      }
    }
  }
}
