.cover-page {
  h1 {
    color: #36a9d8;
    margin-top: 4%;
    text-align: center;
    margin-bottom: 5%;
  }
  .c-page {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      display: block;
    }
    .services {
      width: 20%;
      margin: auto;
      @media only screen and (max-width: 600px) {
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
      }
      .c-pic {
        margin-bottom: 5%;

        img.pic-logo {
          padding-left: 48px;
        }
      }
      h6 {
        // color: greenyellow;
        margin-top: 1%;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  .middle {
    display: flex;
    flex-wrap: wrap;
    .m-left {
      width: 50%;
      margin: auto;
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
      h1 {
        font-size: 80px;
        color: #36a9d8;
        text-align: left;
        @media only screen and (max-width: 600px) {
          font-size: 60px;
        }
      }
    }
    .m-right {
      margin-right: 5%;
      img.m-pic {
        max-width: 100%;
      }
    }
  }
  .middle.s-wrap {
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap-reverse;
    }
  }
  .middle-c {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    .m-left-c {
      h2 {
        color: #36a9d8;
      }
      img.m-pic-c {
        @media only screen and (max-width: 600px) {
          max-width: 100%;
        }
      }
    }
    .m-right-c {
      width: 50%;
      margin-top: 46px;
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
      button.btn.btn-link {
        color: rgb(59, 49, 49);
        font-weight: 700;
      }
      i.fa {
        padding-right: 10px;
        font-size: 25px;
        color: rgb(59, 49, 49);
      }
    }
  }
  .footerPage {
    margin-top: 5%;
    .f-page {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: auto;
      .f-para {
        width: 30%;
        margin: auto;
        @media only screen and (max-width: 600px) {
          width: 90%;
        }
        h6 {
          color: #8c8c8c;
          margin-bottom: 2%;
          font-weight: 700;
        }
        p {
          color: #8c8c8c;
          margin-bottom: 6%;
        }
      }
    }
    .f-block {
      background-color: #36a9d8;
      height: 200px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 6%;
      .left {
        h2 {
          color: whitesmoke;
          font-weight: 800;
        }
        p {
          color: whitesmoke;
        }
      }
      .right {
        button.btn.btn-light {
          background-color: whitesmoke;
          color: #36a9d8;
          border-radius: 25px;
          width: 175px;
          height: 40px;
          font-size: 18px;
        }
      }
    }
  }
}
