.footer-end {
  max-width: 100%;
  //   background-color: greenyellow;
  padding-top: 5%;
  padding-bottom: 5%;
  .first {
    display: flex;
    justify-content: space-evenly;
    p {
      color: whitesmoke;
      padding-left: 45px;
    }
    .first-block {
      border-radius: 50%;
      width: 14%;
      background-color: #36a9d8;
      height: 175px;
      img.fb1 {
        padding: 22px;
        padding-left: 48px;
      }
    }
    .second-block {
      border-radius: 50%;
      width: 14%;
      background-color: #36a9d8;
      height: 175px;
      img.fb2 {
        padding: 24px;
        padding-left: 56px;
      }
    }
  }
  .second {
    margin-left: 40%;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 50%;
    width: 20%;
    background-color: #36a9d8;
    height: 200px;
    h4 {
      color: whitesmoke;
      font-weight: bold;
      text-align: center;
      //   margin-left: 20%;
      margin-right: 14%;
    }
    p {
      color: whitesmoke;
      text-align: center;
      margin-right: 9%;
    }
  }
  .first {
    img.fb3 {
      padding: 22px;
      padding-left: 55px;
    }
    img.fb4 {
      padding: 22px;
      padding-left: 55px;
    }
  }
}
