.footer-page {
  background-color: #36a9d8;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4%;
  justify-content: space-evenly;
  @media only screen and (max-width: 600px) {
    display: block;
  }
  .l-side {
    width: 50%;
    .title {
      display: flex;
      justify-content: space-around;
      h1 {
        // color: #0c224b;
        // color: #e6cf50;
        color: greenyellow;
        font-weight: bold;
        margin-bottom: 4%;
      }
      .social {
        i.fa {
          border-radius: 50%;
          background-color: greenyellow;
          color: #36a9d8;
          width: 35px;
          height: 35px;
          font-size: 15px;
          padding: 11px;
          margin-right: 5px;
        }
      }
    }
    h6 {
      color: whitesmoke;
      margin-left: 10%;
    }
    p {
      color: whitesmoke;
      margin-left: 10%;
    }
  }
  .r-side {
    display: flex;
    justify-content: space-around;
    width: 50%;
    .leftside {
      h4 {
        color: greenyellow;
      }
      p {
        color: whitesmoke;
        i.fa {
          color: greenyellow;
        }
      }
    }
    .rightside {
      color: greenyellow;
    }
  }
}
