.c-page {
  h1 {
    text-align: center;
    color: #36a9d8;
    margin: 30px;
  }
  .c-header {
    .content {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
        li {
          &:hover {
            cursor: pointer;
            background-color: #36a9d8;
            border: 5px solid greenyellow;
            h6 {
              color: greenyellow;
            }
          }
        }
        li {
          width: 30%;
          list-style: none;
          text-align: center;
          border: 5px solid #36a9d8;
          //   background-color: #36a9d8;
          padding: 20px;
          margin-bottom: 32px;
          h6 {
            color: #36a9d8;
            font-weight: bold;
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  .c-types {
    .card-view {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 80%;
      margin: auto;
      .card {
        &:hover {
          .card-overlay {
            height: 100%;
            cursor: pointer;
          }
        }
      }
      .card.mb-3 {
        text-align: center;
        margin-top: 1%;
        width: 275px;
        height: 250px;
        img.card-img-top {
          width: 160px;
          height: 150px;
          margin: 30px 60px;
        }
      }
      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(37, 118, 223, 0.959);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text-tab {
          color: white;
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h6 {
            color: greenyellow;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .c-footer {
    // background-image: url(${pic} rgba(41, 60, 122, 0.349););
    background-color: white;
    position: relative;
    img.back {
      width: 100%;
    }
    .c-overlay {
      position: absolute;
      top: 3%;
      h1 {
        color: #36a9d8;
        text-align: center;
        margin: 30px 0;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 85%;
        margin: auto;
        li {
          &:hover {
            i.fa {
              color: greenyellow;
            }
          }
        }
        li {
          list-style: none;
          text-align: center;
          background-color: rgba(14, 67, 240, 0.349);
          width: 28%;
          padding: 25px;
          i.fa {
            font-size: 50px;
            color: white;
            margin: 20px 0;
          }
          h5 {
            font-weight: bold;
            color: white;
            margin: 20px 0;
          }
          p {
            color: white;
          }
        }
      }
    }
  }
  form {
    width: 75%;
    margin: auto;
    .form-row {
      input#inputEmail4 {
        border-radius: 25px;
        // background: transparent !important;
      }
      input#inputPassword4 {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    .form-group {
      max-width: 100%;
      textarea#comment {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    button.btn.btn-light {
      color: white;
      background-color: #36a9d8;
      margin-left: 44%;
      width: 12%;
      font-weight: bold;
      margin-bottom: 5%;
      border-radius: 25px;
      @media only screen and (max-width: 600px) {
        width: 35%;
        margin-left: 32%;
      }
    }
  }
}
