.seo-page {
  h1 {
    text-align: center;
    color: #36a9d8;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: 700;
  }
  .s-header {
    display: flex;
    flex-wrap: wrap;
    width: 91%;
    margin: auto;
    .sh-left {
      img.image1 {
        width: 85%;
      }
    }
    .sh-right {
      width: 44%;
      margin-top: 3%;
      p {
        font-size: 18px;
      }
      ul {
        li {
          list-style: decimal;
        }
      }
    }
  }
  form {
    width: 75%;
    margin: auto;
    .form-row {
      input#inputEmail4 {
        border-radius: 25px;
        // background: transparent !important;
      }
      input#inputPassword4 {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    .form-group {
      max-width: 100%;
      textarea#comment {
        border-radius: 25px;
        // background: transparent !important;
      }
    }
    button.btn.btn-light {
      color: white;
      background-color: #36a9d8;
      margin-left: 44%;
      width: 12%;
      font-weight: bold;
      margin-bottom: 5%;
      border-radius: 25px;
      @media only screen and (max-width: 600px) {
        width: 35%;
        margin-left: 32%;
      }
    }
  }
}
