.webPage {
  h1 {
    color: #36a9d8;
    font-weight: 900;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .web-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
    .web-left {
      margin-bottom: 2%;
      .web-pic {
        @media only screen and (max-width: 600px) {
          max-width: 100%;
        }
      }
    }
    .web-right {
      @media only screen and (max-width: 600px) {
        width: 85%;
        margin: auto;
      }
      p {
        // margin-top: 2%;
        // margin-bottom: 6%;
        font-size: 18px;
        font-weight: 300;
      }
      .web-details {
        display: flex;
        i.fa {
          font-size: 57px;
          color: #36a9d8;
        }
        .fa.fa-lightbulb-o {
          font-size: 60px;
          margin: 0 10px;
        }
        ul {
          li {
            list-style: none;
          }
        }
      }
      .btn.btn-primary {
        border-radius: 15px;
        margin-left: 5%;
        @media only screen and (max-width: 600px) {
          margin-left: 20%;
        }
      }
    }
  }

  .wm-absolute {
    position: relative;
    margin-bottom: 5%;
    h1 {
      color: #36a9d8;
      text-align: center;
      margin-bottom: 2%;
    }
    .card-view {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 80%;
      margin: auto;
      .card {
        &:hover {
          .card-overlay {
            height: 100%;
            cursor: pointer;
          }
        }
      }
      .card.mb-3 {
        text-align: center;
        margin-top: 1%;
        width: 275px;
        height: 250px;
        img.card-img-top {
          width: 160px;
          height: 150px;
          margin: 30px 60px;
        }
      }
      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(37, 118, 223, 0.959);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        .text-tab {
          color: white;
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h6 {
            color: greenyellow;
          }
        }
      }
    }
  }

  .web-footer {
    background: #36a9d8; // background-image: url("kokil@kokil:~/Desktop/goodpick/web/src/image/tt.png");
    position: relative; // padding: 100px 15px;
    margin-bottom: 5%;
    img.wm-pic {
      width: 100%;
      // height: 200px;
    }
    img.wm1-pic {
      height: 350px;
      max-width: 100%;
    }
    .web-absolute {
      position: absolute;
      top: 5%;
      width: 100%;
      h1 {
        color: white;
        text-align: center;
      }
      h6 {
        color: white;
        text-align: center;
      }
      .footer-flex {
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .l-footer {
          background-color: white;
          padding: 10px;
          border-radius: 25px;
          h4 {
            text-align: center;
            margin: 18px 0;
          }
          form {
            width: 90%;
            margin: auto;
          }
          button.btn.btn-primary {
            margin: 15px 0;
          }
        }
        .r-footer {
          color: white;
          margin: 50px;
          p {
            width: 75%;
          }
          ul {
            li {
              width: 75%;
            }
          }
        }
      }
    }
  }
}

// .card:hover .card-overlay {
//   height: 100%;
//   cursor: pointer;
// }
